

.progress-bar {
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid black;
    height: 10px;
    overflow: hidden;

}

.progress-bar__value {
    background: #428bca;
    width: 0;
    height: 100%;

    transition: width 0.4s;
}


