.task-edit {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 20px;
    border: 1px solid lightgrey;
}

.task-edit__buttons {
    align-self: flex-end;
}

.task-edit__save-button {
    margin: 0 10px 15px;
    cursor: pointer;
}

.task-edit__cancel-button {
    cursor: pointer;
}

.task-edit__label {
    margin-bottom: 15px;
    width: 200px;
}

.task-edit__completedTask {
    margin-bottom: 15px;
}

.completedTask__checkbox {
    cursor: pointer;
}
