.category-create-form {
    width: 100%;
    margin-bottom: 20px;
}

.category-create__add-button {
    cursor: pointer;
    color: #48ad36;
}

.category-create__add-button:hover {
    transition: color 0.3s;
    color: #5bda46;
}
