.task-filter {
    display: flex;
    flex-direction: row;
}

.task-filter__completed-filter {
    margin: 0 20px;
}

.task-filter__search-form {
}

.search-form__clean-button {
    cursor: pointer;
    color: #ff5a5d;
}

.completed-filter__checkbox {
    cursor: pointer;
}
