.task-filter {
    display: flex;
    flex-direction: row;
}

.task-filter__completed-filter {
    margin: 0 20px;
}

.task-filter__search-form {
}

.search-form__clean-button {
    cursor: pointer;
    color: rgba(227, 39, 39, 1);
}

.search-form__clean-button:hover {
    transition: color 0.3s;
    color: rgb(255, 44, 44);
}

.completed-filter__checkbox {
    cursor: pointer;
}
