
.app {
    height: 100%;
}

.app__content {
    display: flex;;
    flex-direction: column;
    width: 1000px;
    height: 100%;
    background: white;
    box-shadow: 0 0 5px 0 gainsboro;

}
.main {
    height: 100%;
    display: flex;;
    flex-direction: column;
}

.main__content {
    display: flex;
    flex-direction: row;
    height: 100%;
}


