

.category-item {
    display: inline-flex;
    flex-direction: column;
}

.category-item__content {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border: 1px solid lightgrey;
}

.category-item__content--active {
    background: #f3fdff;
}

.category-item__title-wrapper {
    display: flex;
    align-items: center;
}

.category-item__title {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.category-item__buttons {
    display: flex;
    align-items: center;
}

.category-item__button-expand {
    border: none;
    background: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.category-item__button-expand--hidden {
    visibility: hidden;
}

button:focus {
    outline: 0;
}

.category-item__button-expand--active {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.category-item__button-expand--not-display {
    visibility: hidden;
}

.category-item__button {
    display: flex;
    align-items: center;
    margin: 0 2px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: white;
}

.category-item__button-add-sub-category {
    background: rgba(72, 173, 54, 1);
}

.category-item__button-add-sub-category:hover {
    transition: background 0.3s;
    background: rgba(72, 173, 54, 0.5);
}

.category-item__button-edit {
    background: rgba(25, 135, 213, 1);
}

.category-item__button-edit:hover {
    transition: background 0.3s;
    background: rgba(25, 135, 213, 0.5);
}

.category-item__button-delete {
    background: rgba(227, 39, 39, 1);
}

.category-item__button-delete:hover {
    transition: background 0.3s;
    background: rgba(227, 39, 39, 0.5);
}



.modal {
    display: flex;
    flex-direction: column;
}

.modal__title {
    margin-bottom: 20px;
}

.title__input {
    border: 1px solid gray;
}

.modal__buttons {
    align-self: flex-end;
}

.modal__button {
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    height: 24px;
}

.modal__ok-button {
    margin: 0 10px;
    background: rgba(72, 173, 54, 1);
}

.modal__ok-button:hover {
    transition: background 0.3s;
    background: rgba(72, 173, 54, 0.5);
}

.modal__cancel-button {
    background: rgba(227, 39, 39, 1);
}

.modal__cancel-button:hover {
    transition: background 0.3s;
    background: rgba(227, 39, 39, 0.5);
}
