
.category-item {
    display: flex;
    flex-direction: column;
}

.category-item__content {
    height: 24px;
    display: flex;
    align-items: center;
}

.category-item__content--active {
    background: #f3fdff;
}

.category-item__title {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.category-item__button-expand {
    border: none;
    background: none;
    -webkit-user-select: none;
}

.category-item__button-expand--hidden {
    visibility: hidden;
}

button:focus {
    outline: 0;
}

.category-item__button-expand--active {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.category-item__button-expand--not-display {
    visibility: hidden;
}

.category-item__sub-category {
    padding-left: 20px;
}

.category-item__sub-category--not-display {
    display: none;
}
