
.category-item {
    display: inline-flex;
    flex-direction: column;
}

.category-item__content {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.category-item__content--active {
    background: #f3fdff;
}

.category-item__title-wrapper {
    display: flex;
    align-items: center;
}

.category-item__title {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.category-item__buttons {
    display: flex;
    align-items: center;
}

.category-item__button-expand {
    border: none;
    background: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.category-item__button-expand--hidden {
    visibility: hidden;
}

button:focus {
    outline: 0;
}

.category-item__button-expand--active {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.category-item__button-expand--not-display {
    visibility: hidden;
}


.category-item__button-add-sub-category {
    cursor: pointer;
    color: #48ad36;
}


.category-item__button-rename {
    cursor: pointer;
}

.category-item__button-add-sub-category {
    cursor: pointer;
}
.category-item__button-delete {
    color: red;
    cursor: pointer;
}
