.task-create-form{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}

.task-create-form__button-add {
    cursor: pointer;
    color: #48ad36;
}

.task-create-form__button-add:hover {
    transition: color 0.3s;
    color: #5bda46;
}
